
.custom{
background-color: #67C392;
color: white;
}
.btn-custom{
      width: 150px;
      background-color: #67C392;
      color: white;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px;

}

.mb-50{
	margin-bottom: 50px;
}